
body {
  background: #337ab7;
  font-size: 16px;
  line-height: 2em;
}

#main-container {
  margin: 4em auto;
  max-width: 55em;
  border: 5px solid #ccc;
  padding: 1em 1em;
  background: white;
}

#list-container {
  padding-left: 1em;
  text-align: center;
  height: 25em;
}

div.page-header {
  vertical-align: middle;
}

div.page-header h3 {
  display: initial;
  padding-right: .5em;
  vertical-align: inherit;
}

div.page-header span {
  vertical-align: inherit;
}

#list-container > div.list-group {
  overflow: auto;
  max-height: 24em;
}

div#contact-list .list-group-item {
  position: relative;
  display: inline-block;
  padding: 4px 25px;
  background-color: #fff;
  border: none;
}

div#contact-list .list-group-item.active  {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

div#contact-list .list-group-item.active:hover  {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

div#contact-list .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-detail-container {
  height: 29em;
  margin-bottom: 2em;
}

.detail-container {
  max-height: 29em;
}

.glyphicon-edit {
  padding-left: .5em;
  color: #337ab7;
}

.glyphicon-edit:hover {
  color: #215079;
}

.glyphicon-trash {
  padding-left: .5em;
  color: #337ab7;
}

.glyphicon-trash:hover {
  color: #215079;
}

li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.detail-spinner {
  /*height: 30em;*/
  padding-top: 13em;
}

.list-unstyled {
  overflow-y: auto;
  max-height: 20em;
}

.vertical-align {
  float: right;
}

button.add-contact.btn {
  border-radius: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1em;
  width: 5em;
  height: 5em;
  border: none;
  outline: none;
  z-index: 3;
  float: right;
  margin: 7px 30px;
  /*background: #0b97c4;*/
}

.glyphicon-plus {
  font-size: 1.5em;
}

.glyphicon-check {
  font-size: 1.2em;
}

a.field-toggle {
  padding-right: .5em;
  vertical-align: text-bottom;
}

hr.contact-app {
  margin-top: 0px;
  margin-bottom: 10px;
}

span.contact-list-edit {
  transition: all 1s ease-in-out;
}

.hidden {
  display: none;
}
